.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
}

.workArea{
  background-color: rgba(16, 18, 27, 40%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
}

.mainTitle {
  font-size: 30px;
  padding: 50px;
  background-image: url(https://www.transparenttextures.com/patterns/cubes.png), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
    border-radius: 14px;
    color: #fff;
}

.formSpace {
  padding-top: 50px;
}

#insert {
  padding: 10px;
  width: 60%;
  border-radius: 14px;
  background-color: rgba(100, 100, 100, 60%);
  color: #fff;
  border-style: none;
}
#insert:focus {
  outline: none;
}

#insert ::placeholder{
  color: #fff;
}

#addButton {
  padding: 10px;
  background-color: radian;
  border-radius: 14px;
  border-style: none;
  background-color: rgba(100, 100, 100, 60%);
  color: #fff;
  cursor: pointer;
}

#addButton:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
  /* background-color: aqua; */
}
#addButton:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
  /* background-color: brown; */
}
#addButton:focus {
  outline: none;
}